In [289]:
import pandas as pd

In [313]:
df = pd.read_csv('results/exp_1/control_val_results.csv')
df

           date  eps  iter  use_top_k  threshold   tn   fp   fn   tp       acc
0  1.586548e+09    0     0          0   0.000050  670  169  285  554  0.729440
1  1.586548e+09    0     0          0   0.000100  670  169  317  522  0.710369
2  1.586548e+09    0     0          0   0.000400  759   80  366  473  0.734207
3  1.586548e+09    0     0          0   0.000691  839    0  370  469  0.779499

In [314]:
df = pd.read_csv('results/exp_1/control_test_results.csv')
df

,date,eps,iter,use_top_k,threshold,tn,fp,fn,tp,acc
0,1.586548e+09,0,0,0,0.000050,985,214,393,806,0.746872
1,1.586548e+09,0,0,0,0.000100,985,214,440,759,0.727273
2,1.586548e+09,0,0,0,0.000400,1114,85,506,693,0.753545
3,1.586548e+09,0,0,0,0.000691,1199,0,517,682,0.784404

In [315]:
df = pd.read_csv('results/exp_1/utility_val_results.csv')
df

,date,eps,iter,use_top_k,threshold,tn,fp,fn,tp,acc
0,1.586548e+09,100,0,0,9.000000e-06,620,218,769,69,0.411098
1,1.586548e+09,100,0,0,5.000000e-05,743,95,838,0,0.443317
2,1.586548e+09,100,0,0,1.000000e-04,747,91,838,0,0.445704
3,1.586548e+09,100,0,0,2.000000e-04,770,68,838,0,0.459427
4,1.586548e+09,100,0,0,4.000000e-04,838,0,838,0,0.500000
5,1.586548e+09,100,0,0,1.539619e-13,394,444,118,720,0.664678
6,1.586548e+09,100,1,0,9.000000e-06,614,224,776,62,0.403341
7,1.586548e+09,100,1,0,5.000000e-05,730,108,838,0,0.435561
8,1.586548e+09,100,1,0,1.000000e-04,771,67,838,0,0.460024
9,1.586548e+09,100,1,0,2.000000e-04,771,67,838,0,0.460024
10,1.586548e+09,100,1,0,4.000000e-04,838,0,838,0,0.500000
11,1.586548e+09,100,1,0,2.629185e-13,378,460,124,714,0.651551
12,1.586549e+09,500,0,0,9.000000e-06,662,176,447,391,0.628282
13,1.586549e+09,500,0,0,5.000000e-05,761,77,595,243,0.599045
14,1.586549e+09,500,0,0,1.000000e-04,761,77,666,172,0.556683
15,1.586549e+09,500,0,0,2.000000e-04,838,0,731,107,0.563842
16,1.586549e+09,500,0,0,4.000000e-04,838,0,800,38,0.522673
17,1.586549e+09,500,0,0,3.302505e-11,405,433,81,757,0.693317
18,1.586549e+09,500,1,0,9.000000e-06,645,193,432,406,0.627088
19,1.586549e+09,500,1,0,5.000000e-05,763,75,555,283,0.624105
20,1.586549e+09,500,1,0,1.000000e-04,819,19,607,231,0.626492
21,1.586549e+09,500,1,0,2.000000e-04,819,19,666,172,0.591289
22,1.586549e+09,500,1,0,4.000000e-04,838,0,720,118,0.570406
23,1.586549e+09,500,1,0,1.064462e-11,410,428,58,780,0.710024
24,1.586549e+09,1000,0,0,9.000000e-06,579,259,265,573,0.687351
25,1.586549e+09,1000,0,0,5.000000e-05,674,164,350,488,0.693317
26,1.586549e+09,1000,0,0,1.000000e-04,758,80,394,444,0.717184
27,1.586549e+09,1000,0,0,2.000000e-04,758,80,442,396,0.688544
28,1.586549e+09,1000,0,0,4.000000e-04,765,73,490,348,0.664081
29,1.586549e+09,1000,0,0,2.057040e-09,499,339,55,783,0.764916
30,1.586550e+09,1000,1,0,9.000000e-06,663,175,253,585,0.744630
31,1.586550e+09,1000,1,0,5.000000e-05,747,91,353,485,0.735084
32,1.586550e+09,1000,1,0,1.000000e-04,763,75,393,445,0.720764
33,1.586550e+09,1000,1,0,2.000000e-04,763,75,438,400,0.693914
34,1.586550e+09,1000,1,0,4.000000e-04,763,75,480,358,0.668854
35,1.586550e+09,1000,1,0,3.118816e-05,747,91,318,520,0.755967

In [316]:
df = pd.read_csv('results/exp_1/utility_test_results.csv')
df

,date,eps,iter,use_top_k,threshold,tn,fp,fn,tp,acc
0,1.586548e+09,100,0,0,9.000000e-06,923,275,1118,80,0.418614
1,1.586548e+09,100,0,0,5.000000e-05,1072,126,1197,1,0.447830
2,1.586548e+09,100,0,0,1.000000e-04,1077,121,1198,0,0.449499
3,1.586548e+09,100,0,0,2.000000e-04,1100,98,1198,0,0.459098
4,1.586548e+09,100,0,0,4.000000e-04,1198,0,1198,0,0.500000
5,1.586548e+09,100,0,0,1.539619e-13,570,628,167,1031,0.668197
6,1.586548e+09,100,1,0,9.000000e-06,884,314,1117,81,0.402755
7,1.586548e+09,100,1,0,5.000000e-05,1061,137,1198,0,0.442821
8,1.586548e+09,100,1,0,1.000000e-04,1107,91,1198,0,0.462020
9,1.586548e+09,100,1,0,2.000000e-04,1108,90,1198,0,0.462437
10,1.586548e+09,100,1,0,4.000000e-04,1198,0,1198,0,0.500000
11,1.586548e+09,100,1,0,2.629185e-13,550,648,168,1030,0.659432
12,1.586549e+09,500,0,0,9.000000e-06,973,225,643,555,0.637730
13,1.586549e+09,500,0,0,5.000000e-05,1116,82,855,343,0.608932
14,1.586549e+09,500,0,0,1.000000e-04,1116,82,955,243,0.567195
15,1.586549e+09,500,0,0,2.000000e-04,1198,0,1049,149,0.562187
16,1.586549e+09,500,0,0,4.000000e-04,1198,0,1141,57,0.523790
17,1.586549e+09,500,0,0,3.302505e-11,595,603,98,1100,0.707429
18,1.586549e+09,500,1,0,9.000000e-06,956,242,586,612,0.654424
19,1.586549e+09,500,1,0,5.000000e-05,1113,85,764,434,0.645659
20,1.586549e+09,500,1,0,1.000000e-04,1180,18,850,348,0.637730
21,1.586549e+09,500,1,0,2.000000e-04,1180,18,945,253,0.598080
22,1.586549e+09,500,1,0,4.000000e-04,1198,0,1021,177,0.573873
23,1.586549e+09,500,1,0,1.064462e-11,588,610,73,1125,0.714942
24,1.586549e+09,1000,0,0,9.000000e-06,845,353,372,826,0.697412
25,1.586549e+09,1000,0,0,5.000000e-05,992,206,511,687,0.700751
26,1.586549e+09,1000,0,0,1.000000e-04,1113,85,566,632,0.728297
27,1.586549e+09,1000,0,0,2.000000e-04,1113,85,638,560,0.698247
28,1.586549e+09,1000,0,0,4.000000e-04,1118,80,700,498,0.674457
29,1.586549e+09,1000,0,0,2.057040e-09,720,478,84,1114,0.765442
30,1.586550e+09,1000,1,0,9.000000e-06,980,218,365,833,0.756678
31,1.586550e+09,1000,1,0,5.000000e-05,1107,91,493,705,0.756260
32,1.586550e+09,1000,1,0,1.000000e-04,1121,77,562,636,0.733306
33,1.586550e+09,1000,1,0,2.000000e-04,1121,77,623,575,0.707846
34,1.586550e+09,1000,1,0,4.000000e-04,1121,77,674,524,0.686561
35,1.586550e+09,1000,1,0,3.118816e-05,1107,91,446,752,0.775876

In [317]:
"ad {iter}".format(iter="asd", second="", delimiter="[")

'ad asd'

In [3]:
dictio = { "jey": "value", 'train': {
                    'normal': {
                        'fullpath': '{exp_name}/normal_train.txt',
                        'to_read': -1
                    }
                }   }

In [4]:
for i in dictio['train']:
    print(dictio['train']['normal']['fullpath'])

{exp_name}/normal_train.txt

In [5]:
v1, v2 = dictio.values()

In [6]:
v1, v2

('value',
 {'normal': {'fullpath': '{exp_name}/normal_train.txt', 'to_read': -1}})

In [35]:
dic = { 'a': '{first}', 'b': [('test', '{first} {{second}}')], 'c': { 'd': '{first}{{second}}'}}

In [29]:
a = str(dic.values())
a

"dict_values(['{first}', [('test', '{first} {{second}}')], {'d': '{first}{{second}}'}])"

In [62]:
test(**dic)

{'a': '{first}', 'b': [('test', '{first} {{second}}')], 'c': {'d': '{first}{{second}}'}}

In [61]:
def test(**kwargs):
    print(kwargs)

In [91]:
def test(param1):
    print(param1)

In [92]:
def test2(arg1, arg2):
    test(*arg2)

In [94]:
test2('a', 'b')

b

In [80]:
def test3():
    print('hello')

In [121]:
a = '{exp_name}{iter}{{param3}}'
b = '{exp_name}{iter}'
c = '{exp_name}'

In [123]:
a.format(exp_name = 'hello', iter = 2)

'hello2{param3}'

In [124]:
b.format(exp_name = 'hello', iter = 2)

'hello2'

In [125]:
c.format(exp_name = 'hello', iter = 2)

'hello'

In [12]:
import numpy as np

In [140]:
if len(np.array([[[]]])) == 0:
    print('hello')

In [3]:
import random

In [144]:
random.seed(2)
with open('data/deeplog/all_abnormal.txt') as f:
    to_read = -1
    if to_read == -1:
        sample = list(f)
        random.shuffle(sample)
    else:
        sample = random.sample(list(f), to_read)  
    splits = [np.array(s.split(), dtype=int) for s in sample]
splits[0]

array([22,  5,  5])

In [97]:
a = np.array(splits) - 1
a

array([array([ 4, 21,  4]), array([21,  4])], dtype=object)

In [104]:
np.array([np.append(x, 1) for x in a])

array([array([ 4, 21,  4,  1]), array([21,  4,  1])], dtype=object)

ValueError: all the input arrays must have same number of dimensions

In [31]:
from sklearn.model_selection import train_test_split

In [32]:
train, test = train_test_split(splits, test_size=0.3)
len(train)

11786

In [200]:
from sklearn import metrics

Y_test = [1, 1, 1, 0 ,0, 0]
p = [1, 1, 0.2, 0.2, 0.3, 0.5]
fpr, tpr, thresholds = metrics.roc_curve(Y_test,p)
optimal_idx = np.argmax(tpr - fpr)
optimal_threshold = thresholds[optimal_idx]
res = p >= optimal_threshold

In [208]:
from sklearn.metrics import classification_report

In [205]:
print(classification_report(Y_test, res))

precision    recall  f1-score   support

           0       0.75      1.00      0.86         3
           1       1.00      0.67      0.80         3

    accuracy                           0.83         6
   macro avg       0.88      0.83      0.83         6
weighted avg       0.88      0.83      0.83         6

In [202]:
a = classification_report(Y_test, res, output_dict=True)
a

{'0': {'precision': 0.75,
  'recall': 1.0,
  'f1-score': 0.8571428571428571,
  'support': 3},
 '1': {'precision': 1.0,
  'recall': 0.6666666666666666,
  'f1-score': 0.8,
  'support': 3},
 'accuracy': 0.8333333333333334,
 'macro avg': {'precision': 0.875,
  'recall': 0.8333333333333333,
  'f1-score': 0.8285714285714285,
  'support': 6},
 'weighted avg': {'precision': 0.875,
  'recall': 0.8333333333333334,
  'f1-score': 0.8285714285714286,
  'support': 6}}

In [171]:
import pandas as pd
import csv

In [173]:
with open('test.csv', 'a+', newline='') as csvfile:
    writer = csv.writer(csvfile)
    values = [1,2,3,4]
    writer.writerow(['hola', *values])

In [163]:
df.columns = [‘A’, ‘B’, ‘C’, ‘D’]

SyntaxError: invalid character in identifier (<ipython-input-163-08076e622558>, line 1)

In [175]:
a = '{test}'
s = a.format(test='b')
s

'b'

In [177]:
header = ['b', 'a']
['date', *header]

['date', 'b', 'a']

In [216]:
d =  {
    'normal': {
        'fullpath': '{exp_name}/normal_val.txt',
        'to_read': -1,
        'class': 1
    },
    'abnormal': {
        'fullpath': '{exp_name}/abnormal_val.txt',
        'to_read': -1,
        'class': 0
    }
}

In [219]:
for a, b in d.items():
    print(a,b)

normal {'fullpath': '{exp_name}/normal_val.txt', 'to_read': -1, 'class': 1}
abnormal {'fullpath': '{exp_name}/abnormal_val.txt', 'to_read': -1, 'class': 0}

In [231]:
with open(str('data/deeplog/all_abnormal.txt'), 'r') as f:
    to_read= 1666666
    sample = list(f)[0: to_read]  
splits = [np.array(s.split(), dtype=int) for s in sample]    
len(splits)

16838

In [233]:
df.read_csv('results/deeplog/control_val_results')

AttributeError: 'DataFrame' object has no attribute 'read_csv'

In [318]:
import data_utils

Using TensorFlow backend.

In [326]:
a = data_utils.load_file('data/deeplog/normal.txt', _dtype=int)

In [328]:
lens = [len(x) for x in a]

In [329]:
np.mean(np.array(lens))

19.502814587787128